/* Stiziles */

/*html, body {*/
    /*background: #222222;*/
/*}*/

/* main */

/*.main {*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background: #222222;*/
    /*color: #fff;*/
/*}*/

.main img {
    width: 103px;
    height: 89px;
    margin-bottom: 10px;
    text-align: center;
}

/* transitions */

.fade-enter {
    opacity: 0.01;
    transition: opacity .5s ease-in;
}

.fade-enter.fade-enter-active {
    opacity: 1;
}

.fade-leave {
    opacity: 1;
    transition: opacity .5s ease-in;
}

.fade-leave.fade-leave-active {
    opacity: 0.01;
}

.shift-enter,.shift-leave
{
    transition: 200ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
}

.shift-enter.shift-enter-active,.shift-leave {
    opacity: 1;
    top: 0;
    height: 30px;
}

.shift-leave.shift-leave-active,.shift-enter {
    opacity: 0;
    top: -50px;
    height: 0;
}

.map {
    width: 762px;
    height: 636px;
}

.matchLink {
    cursor: pointer;
}

.inlineBlock {
    display: inline-block;
}

.eventsList {
    height: 636px;
    overflow: auto;
}

.killerIcon {
    width: 48px;
}

.assistIcon {
    width: 24px;
}

.fightIcon {
    width: 24px;
    margin-left: 5px;
    margin-right: 5px;
}

.championIcon {
    width: 48px;
}

.team100Border {
    border: 1px solid #42a5f5
}

.team200Border {
    border: 1px solid #ef5350
}
